/* This is the main.css file for Tiger Trail's microsite. */
.navbar
{
 background-color:#a71c20;
}

.parallax-container {
    height: 1000px;
  }

.btn-floating
{
 background-color:#a71c20 !important;
}